/*  all */
* { margin:0; padding:0; font-family:"nanumgothic"; color:#333; transition:all .6s;}
a { text-decoration:none; }
li { list-style: none; }
.tac { text-align: center; }
.tal { text-align:left; }
.tar { text-align:right; }
.gul {font-family:"gulim";}
.fl { float: left; }
.fr { float: right; }
.c { clear:both; }
.db { display: block; }

/*  wrap  */
body , html { width:100%; }
#wrap { max-width:1440px; margin:0 auto;  }

/*  box  */
.box { max-width:1200px; margin:0 auto; }
.cont { max-width:1080px; margin:0 auto; }

/* header  */
header { width:100%; height:80px; background:#fff; border-bottom:1px solid rgba(0,0,0,.2);  position: relative; z-index:9; }
.logo { float:left; padding-top:15px; }
.logo p { font-size:.9em; font-weight:bold; color:#ddd;}
.logo h1 {  }

nav { float: right; }
nav ul li { float:left; }
nav ul li a  { padding:0 30px; line-height:80px; font-family:"Malgun Gothic"; font-weight:bold; color:#666;}
nav ul li a:hover { color:#e74c3c; }
.on { border-left:1px solid #ddd; border-right:1px solid #ddd; }

/*  slide  */
#slide { width:100%; height:783px; background:url("../images/main.png")center; background-size:cover;  }
#slide .box { padding-top:60px; position: relative; }
#slide > .box > p { padding-bottom:20px; line-height:30px; color:#666; }
#slide h2 { color:#173e62; font-size:7em; }

#slide .box > button { width:74px; height:70px; position: absolute; border:none; cursor:pointer; outline:none; }  
#slide .box > .l_btn { left:0; background:url("../images/btn_01.png")center; background-size:cover; top:400px;}
#slide .box > .r_btn { right:0; background:url("../images/btn_03.png")center; background-size:cover; top:400px;}
#slide .box > .l_btn:hover { left:-20px; }
#slide .box > .r_btn:hover { right:-20px; }
/*  content  */
.cable { width:385px; height:397px; background:url("../images/cable.png")center; background-size:cover; position: absolute; top:-30px;}
#content { width:100%; height:1302px; background:url("../images/seoultour_02.png")center; background-size:cover;  position: relative;}
#content .cont { padding-top:72px; }
.namsan_t h3 { font-size:1.6em; font-weight:400; padding-bottom:10px;}
.namsan_t h3 span { color:#0d3182; font-size:1.4em; }
.namsan_t p { padding-bottom:20px; color:#666; }
.namsan_t ul li { float: left; }

.images { width:100%; position: relative; top:-27px;}
.left_img { float:left; position: relative; z-index:1;}
.tower_t { position:absolute; bottom:30px; padding-left:20px;}
.tower_t  h4 { color:#fff; font-size:1.5em; font-weight:400; }
.tower_t  h4 span { color:#fff; font-size:1.9em; }
.tower_t  p { color:#fff; font-size:.8em; padding-left:10px; }

.right_img { float: right; position: relative; bottom:250px;}

.hatae { position: relative; bottom:360px; }
.hatae h3 { color:#9e8967; font-weight:400; font-size:1.6em; padding-bottom:10px;}
.hatae p { padding-bottom:20px; }
.hatae ul li {float: left;  }

/*  box */
#box { width:100%; position: relative; }
#box img[alt=l_img] { float:left; }
#box img[alt=r_img] { float:right; }

.form  { width:60%;  background:#fff; box-shadow:0 0 5px 5px rgba(0,0,0,.3); position: absolute; left:0; right:0; top:-50px; margin: auto;}
.form ul { width:330px; margin:0 auto; padding:50px 0; overflow: hidden; }
.form ul li { width:25%;  float: left; }
.form p  { font-size:1.2em; padding-bottom:30px; }
.form p span { color:#5f1600; font-size:1.3em; }
.about { padding:20px 0; border-top:1px solid #ddd; background:#ededed; }
.about p { font-size:.8em; padding:0; color:#999; }

/*  footer  */
.f_top { width:100%; height:130px;  border-bottom:1px solid #554931; overflow: hidden; background:#625539;}
footer { width:100%; height:100px; background:#625539;  }
footer p { padding-top:30px; font-weight:bold; color:#3c3321; font-family:"nanumgothic";}

/*  icons  */
img[alt=icon]:hover { transform:scale(1.2); }

/*  tablet  */
@media (max-width:780px){
	/* cable*/
	.cable{ width:270px; height:280px; }

	/* slide */
	#slide { height:500px; }
	.box { max-width:650px; }
	#slide h2 { font-size:4.5em; }
	#slide .box > .r_btn { top:250px; }
	#slide .box > .l_btn { top:250px; }
	.cont { max-width:600px; }

	/* namsan */
	.namsan_t { padding-bottom:50px; overflow: hidden;}
	.namsan_t h3 { text-align: center; }
	.namsan_t p { text-align: center; }
	.namsan_t ul { margin:0 auto;  width:230px; float:none;}

	.images { position: static;  padding-bottom:50px; overflow: hidden;}
	.left_img { width:50%; }
	.left_img img { width:100%; }
	.right_img { width:50%; bottom:0; }
	.right_img img { width:100%; }
	
	.tower_t { padding-left:5px; }
	.tower_t  h4  { font-size:1em; }
	.tower_t  p  { font-size:.5em; padding-left:3px; }

	.hatae { position: static; }
	.hatae h3 { text-align: center; }
	.hatae p { text-align: center; }
	.hatae ul { width:230px; margin:0 auto; float:none; }
	
	#box { height:111px; }
	#box img[alt=l_img] { width:30%; height:100%; }
	#box img[alt=r_img] { width:30%; }

	.form { top:-40px; }
	.form ul { padding:30px 0; }
	.form p { font-size:1em; }
	.form .about p { font-size:.7em; }

	 /* footer */
	footer { font-size:.9em; }
}
/*  mobile  */
@media (max-width:480px){
	.cable { width:200px; height:210px; }
	.box { max-width:400px; }
	header { height:auto; overflow: hidden; }
	header .box { max-width:100%; }
	.logo { float:none; width:180px; margin:0 auto; } 
	nav { width:100%; float:none; }
	nav ul li { width:100%; }
	nav ul li a { display: block; width:100%; padding:0; text-align: center; border-bottom:1px solid #ddd; } 
	#slide { height:600px; }
	
	.cont { max-width:400px; }
	#slide > .box > p { font-size:.8em; }
	#slide > .box > h2 { font-size:3em; }

	#slide .box > .r_btn { top:300px; }
	#slide .box > .l_btn { top:300px; }
	
	.tower_t  h4 { font-size:1.5em; }
	.tower_t  p { font-size:.8em; }

	.namsan_t h3 { font-size:1.3em;  }
	.namsan_t p { font-size:.8em;  }

	.left_img { width:100%; } 
	.right_img { width:100%; }
	
	.hatae h3 { font-size:1.3em; } 
	.hatae p { font-size:.8em;  }
	#content { padding-bottom:500px; }

	#box { position: static;  height:auto;}
	#box img[alt=l_img] { width:100%; }
	#box img[alt=r_img] { width:100%; }
	.form { position: static; width:100%; }
	
	.f_top { height:80px; }
	footer p { font-size:.8em; }
}